@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
     background: 
   linear-gradient(to top, rgba(9, 38, 53, 1) 30%, rgba(9, 38, 53, .8) 59%, rgba(9, 38, 53, .4) 100%),
   url('../../public/images/bg.jpeg') no-repeat;
   background-size: cover;
   background-position: center;
}

.content p{
  font-size: 18px;
  color: gray;
}
.content h2{
  font-size: 26px;
  font-weight: 700;
  padding: .5rem 0;
  color: #092635
}
.content h3, .content h4, .content h6{
  font-size: 22px;
  font-weight: 700;
  padding: .5rem 0;
  color: #092635
}
.content h6{
  font-size: 18px;
  font-weight: 700;
  padding: .5rem 0;
  color: #092635
}
.content strong{
  color: #9DBC98;
}
.content a{
  color: #9DBC98;
  text-decoration: underline;
}
.content img{
  width: 60% !important;
  margin: 1rem 0;
}
.content ol, .content ul{
  padding-left: 1.3rem;
}
.content ol{
  list-style-type: decimal;
}
.content ul{
  list-style-type: disc;
}
.content li{
  margin: 6px 0;
}



@media (max-width : 768px){
  .content img{
    width: 100% !important;
  }
}


.con h3, .con h4, .con h6{
  color: #e7e7e7 !important;
  font-size: 1.1rem !important;
}
